.navbar {
     position: fixed;
     top: 0;
     padding: 1rem;
     width: 100%;
     height: 2rem;
     z-index: 1;

     /* Animations */
     transition-timing-function: ease-in;
     transition: all 0.5s;
}

.navbar__black {
     background-color: #111;
}

.nav__content {
     display: flex;
     justify-content: space-between;
}



.nav__logo {
     position: fixed;
     top: 0.5rem;
     left: 0;
     width: 6rem;
     object-fit: contain;
     padding-left: 1rem;
     cursor: pointer;
}

.nav__avatar {
     cursor: pointer;
     position: fixed;
     right: 1rem;
     width: 2rem;
     height: 2rem;
}